h1{
    margin: 30px;
    /*margin-bottom: 30px;*/
}

.home{
    margin: 0;
    position:absolute;
    text-align: center;
}

.home-content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.kingdoms{
    width: 100%;
    height: auto;
}


.brick-box{
    margin: 20px;
    padding-bottom: 20px;
    height: 250px;
    
}
/*.brickBox{
    margin: auto;
    margin-top: 1000px;
    width: 50%;
    height: 100%;
}*/